<%- include("partials/header.ejs"); -%>

    <div class="container" id="imageAndText">
        <img src="6.png" alt="img" id="image12">
        <p id="para1">
            Hello!! I am Jenny.I am a student and love to do coding and development.
        </p>
    </div>

    <%- include("partials/footer.ejs"); -%>